.app{
    width: 100%;
    height: 100%;
  }

.header {
    background-color: #00a9e0;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
}

.barraNav {
    margin-top: 3px;
    float: right;
    margin-right: 296px;
    animation: entradaBarraNav;
    animation-duration: 1s;
    
  
}
  
  @keyframes entradaBarraNav {
    0%{
      margin-right: -600px;
    }
  
    100%{
      margin-right: 296px;
    }
    
  }
  
  .logoNav {
    display: inline;
    margin-left: 300px;
    
    
  }
  
  .logoNav img {
    animation: entradaLogoNav;
    animation-duration: 1s;
  }
  
  @keyframes entradaLogoNav {
    0%{
      margin-left: -600px;
    }
    
  }
  
  
  
  .logoNav:hover{
    cursor: pointer;
  }
  
  .barraNav button{
    border: 0;
    color: white;
    padding: 26px 16px;
    font-family: open_sanssemibold;
    font-size: 14px;
    background-color: #00a9e0;
    
    
  }
  
  .barraNav button:hover{
    background-color: white;
    transition: background-color 0.5s linear;
    cursor: pointer;
    color: #00a9e0;
  
  }


  .mensajeConfirmacionCompra {
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 20%;
    border-radius: 0px 0px 15px 15px;
    height: 280px;
    margin-top: 320px;
    animation: entradaMensajeConfirmacionCompra;
    animation-duration: 0.5s;
    transform: translateX(200%)
    
  
  }
  
  @keyframes entradaMensajeConfirmacionCompra {
    0%{
      transform:scaleX(-0.5%)
    }
  
    
  }
  
  .mensajeColorConfirmacionCompra {
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0px 0px;
    background-color: #0099ff;
    position: absolute;
    z-index: 10;
    transform: translateY(-100%);
  }
  
  .mensajeColorConfirmacionCompra img {
    margin-top: 20px;
    transform: translateX(220%);
  }
  .mensajeConfirmacionCompra h1 {
    font-family: 'montserratregular';
    margin-top: 30px;
    font-size: 20px;
    transform: translateX(27%);
    
    
  }

  .mensajeConfirmacionCompra h3 {
    font-family: 'montserratregular';
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: -20px;
    font-size: 17px;
    margin-left: 20px;

  }

  .mensajeConfirmacionCompra span {
    font-size: 15px;
    
  }
  
  .mensajeConfirmacionCompra p{
    font-family: 'montserratregular';
    color: #7b7e84;
    margin-top: 55px;
    font-size: 13px;
    width: 50%;
    margin-left: 93px;
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .mensajeConfirmacionCompra button{
    border: 0;
    transform: translateX(48%);
    margin-top: -40px;
    background-color: #0099ff;
    color: white;
    font-family: 'montserratregular';
    font-size: 14px;
    border-radius: 10px;
    width: 190px;
    height: 30px;
    transition: background-color 0.5s;
    
  }
  
  .mensajeConfirmacionCompra button:hover {
    background-color: #01779e;
  }
  
  .fondoConfirmacionCompra {
    position: absolute;
    z-index: 9;
    background-color: black;
    opacity: 0.5;
    margin-left: -8px;
    width: 100%;
    height: 100%;
  }


.contenido {
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    animation: entradaContenido;
    animation-duration: 0.5s;
    margin-left: 450px;
    
}

@keyframes entradaContenido {
  0%{
    transform:scaleX(-0.5%)
  }
  
  
}



.contenido button {
    position: absolute;
    background-color: white;
    outline: 2px solid #ff3068;
    border: 0;
    color: #ff3068;
    width: 150px;
    height: 30px;
    border-radius: 3px;
    transform:translateX(-75px);
    transition: background-color 0.5s;
    
}

.contenido button:hover{
    background-color: #ff3068;
    color: white;
}

.contenido h3 {
    margin-top: -9px;
    margin-bottom: 30px;
}

.producto1, .producto2, .producto3, .producto4, .producto5, .producto6, .producto7, .producto8 {
    display: inline-block;
    height: 400px;
    text-align: center;
    font-family: 'open_sansregular';
    margin-right: 30px;
    margin-bottom: 30px;
    
}

.producto1:hover, .producto2:hover, .producto3:hover, .producto4:hover, .producto5:hover, .producto6:hover, .producto7:hover, .producto8:hover{
    box-shadow: 0px 0px 1px 0px;
}



@font-face {
    font-family: 'open_sansbold';
    src: url('fuentes/open_sans/opensans-bold-webfont.woff2') format('woff2'),
         url('fuentes/open_sans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fuentes/open_sans/opensans-regular-webfont.woff2') format('woff2'),
         url('fuentes/open_sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}